
module my-reader3-3 1.0;

require {
	type collectd_t;
	type udev_var_run_t;
	type var_log_t;
	type fixed_disk_device_t;
	class file { getattr open read };
	class blk_file read;
}

#============= collectd_t ==============
allow collectd_t fixed_disk_device_t:blk_file read;

#!!!! This avc is allowed in the current policy
allow collectd_t udev_var_run_t:file { getattr open read };

#!!!! This avc is allowed in the current policy
allow collectd_t var_log_t:file { open read };
