
module my-reader3 1.0;

require {
	type udev_var_run_t;
	type var_log_t;
	type collectd_t;
	class file read;
}

#============= collectd_t ==============
allow collectd_t udev_var_run_t:file read;
allow collectd_t var_log_t:file read;
