
module my-reader4-1 1.0;

require {
	type nvme_device_t;
	type collectd_t;
	class blk_file { getattr ioctl open read };
	class capability sys_rawio;
}

#============= collectd_t ==============
allow collectd_t nvme_device_t:blk_file ioctl;

#!!!! This avc is allowed in the current policy
allow collectd_t nvme_device_t:blk_file { getattr open read };

#!!!! This avc is allowed in the current policy
allow collectd_t self:capability sys_rawio;
